<div class="container">
  

      <div *ngIf="carImages.length > 0" id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleIndicators" *ngFor="let carImage of carImages; let i = index"
            [attr.data-bs-slide-to]="i" [class.active]="i == 0"></li>
        </ol>
          <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let carImage of carImages; let i = index" [class.active]="i == 0">
            <img [src]="getImagePath(carImage)" class="d-block img-fluid" alt="car image" style="width: 100%; height: 515px;" />


          </div>
        </div> 
        <button class="carousel-control-prev"  type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card cardsize">
        <div class="card-body">
          <h4 class="card-title text-center">
            {{ carDetails[0].brandName | uppercase }} {{carDetails[0].description}}
          </h4>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">
            <i><b>Model Yılı</b></i> | {{ carDetails[0].modelYear }}
          </li>
          <li class="list-group-item">
            <i><b>Renk</b></i> | {{ carDetails[0].colorName }}
          </li>
          
          <li class="list-group-item">
            <i><b>Günlük Fiyat</b></i> |
            {{ carDetails[0].dailyPrice | currency : "₺" }}
          </li>
          <li class="list-group-item">
            <i><b>Aylık Fiyat </b>|</i>
            {{ carDetails[0].dailyPrice * 30 * 0.8 | currency : "₺" }}
          </li>
          <li class="list-group-item">
            <i><b>Aylık Kiralama Kazancı </b>|</i>
            {{ carDetails[0].dailyPrice|vatAdded:0.8 |currency:"₺"}}
          </li>
          <li class="list-group-item">
            <i><b>Minimum Findeks Puanı:</b></i> | {{ carDetails[0].findeksScore }}
          </li>
        </ul>
     
        <br>
        <button 
        routerLink="/cars/car/rental/{{carDetails[0].carId}}"
        type="button"
        class="btn btn-outline-success">
          Aracı Şimdi Kirala
        </button>
      </div>
     
    </div>

